.u-section-1 .u-sheet-1 {
  min-height: 871px;
}

.u-section-1 .u-layout-wrap-1 {
  margin-top: 104px;
  margin-bottom: 0;
}

.u-section-1 .u-layout-cell-1 {
  min-height: 642px;
}

.u-section-1 .u-container-layout-1 {
  padding: 30px 30px 30px 0;
}

.u-section-1 .u-layout-cell-2 {
  min-height: 656px;
}

.u-section-1 .u-container-layout-2 {
  padding: 19px 30px 19px 100px;
}

.u-section-1 .u-text-1 {
  font-size: 2.25rem;
  text-transform: uppercase;
  letter-spacing: 4px;
  font-weight: 700;
  margin: 0 0 0 166px;
}

.u-section-1 .u-text-2 {
  font-size: 1.125rem;
  line-height: 2;
  margin: 20px 0 0 166px;
}

.u-section-1 .u-social-icons-1 {
  white-space: nowrap;
  height: 32px;
  min-height: 16px;
  width: 32px;
  min-width: 16px;
  margin: 20px auto 0 166px;
}

.u-section-1 .u-icon-1 {
  height: 100%;
}

.u-section-1 .u-text-3 {
  margin: 37px 0 0 166px;
}

.u-section-1 .u-image-1 {
  width: 378px;
  height: 378px;
  background-image: url("images/IMG_0687.JPG");
  background-position: 50% 50%;
  margin: -525px auto 60px 267px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 758px;
  }

  .u-section-1 .u-layout-cell-1 {
    background-position: 50% 50%;
    min-height: 529px;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 541px;
  }

  .u-section-1 .u-container-layout-2 {
    padding-left: 204px;
  }

  .u-section-1 .u-text-1 {
    font-weight: 100;
    margin-left: 46px;
  }

  .u-section-1 .u-text-2 {
    margin-left: 46px;
  }

  .u-section-1 .u-social-icons-1 {
    margin-left: 46px;
  }

  .u-section-1 .u-text-3 {
    margin-left: 46px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 634px;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 405px;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 100px;
  }

  .u-section-1 .u-container-layout-2 {
    padding-right: 23px;
    padding-left: 146px;
  }

  .u-section-1 .u-text-1 {
    margin-left: 0;
  }

  .u-section-1 .u-text-2 {
    margin-left: 0;
  }

  .u-section-1 .u-social-icons-1 {
    margin-left: 0;
  }

  .u-section-1 .u-text-3 {
    margin-left: 0;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 1088px;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 328px;
  }

  .u-section-1 .u-container-layout-1 {
    padding-top: 0;
    padding-right: 10px;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 541px;
  }

  .u-section-1 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-image-1 {
    margin-left: 162px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 769px;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 207px;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 577px;
  }

  .u-section-1 .u-image-1 {
    width: 340px;
    height: 340px;
    margin-left: 0;
  }
}