 .u-section-1 {
  background-image: none;
}

.u-section-1 .u-sheet-1 {
  min-height: 1218px;
}

.u-section-1 .u-layout-wrap-1 {
  margin-top: 50px;
  margin-bottom: 60px;
}

.u-section-1 .u-layout-cell-1 {
  min-height: 255px;
  transition-duration: 0.5s;
}

.u-section-1 .u-image-1 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url("images/AV4.gif");
  background-position: 50% 50%;
}

.u-section-1 .u-container-layout-1 {
  padding: 30px;
}

.u-section-1 .u-layout-cell-2 {
  min-height: 255px;
}

.u-section-1 .u-image-2 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.4), rgba(0,0,0,0.4)), url("images/church.gif");
  background-position: 50% 50%;
}

.u-section-1 .u-container-layout-2 {
  padding: 30px;
}

.u-section-1 .u-layout-cell-3 {
  min-height: 421px;
}

.u-section-1 .u-image-3 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2)), url("images/totemdrop.gif");
  background-position: 50% 50%;
}

.u-section-1 .u-container-layout-3 {
  padding: 0;
}

.u-section-1 .u-layout-cell-4 {
  min-height: 358px;
  animation-duration: 1000ms;
}

.u-section-1 .u-image-4 {
  background-image: url("images/bingmayong.GIF");
  background-position: 42.41% 50%;
}

.u-section-1 .u-container-layout-4 {
  padding: 30px;
}

.u-section-1 .u-layout-cell-5 {
  min-height: 779px;
  --effect-scale: 1.05;
}

.u-section-1 .u-image-5 {
  background-image: url("images/work20.5x.png");
  background-position: 50% 50%;
}

.u-section-1 .u-container-layout-5 {
  padding: 30px;
}

.u-section-1 .u-layout-cell-6 {
  min-height: 1034px;
}

.u-section-1 .u-container-layout-6 {
  padding: 0 22px;
}

.u-section-1 .u-text-1 {
  font-weight: 700;
  font-size: 3.75rem;
  margin: 528px 11px 0;
}

.u-section-1 .u-btn-1 {
  border-style: none;
  font-size: 3.75rem;
  padding: 0;
}

.u-section-1 .u-text-2 {
  line-height: 2;
  font-size: 1rem;
  margin: 18px 2px 0 11px;
}

@media (max-width: 1399px) {
  .u-section-1 .u-sheet-1 {
    min-height: 1030px;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 168px;
  }

  .u-section-1 .u-layout-cell-2 {
    transition-duration: 0.5s;
    min-height: 168px;
  }

  .u-section-1 .u-layout-cell-3 {
    animation-duration: 1000ms;
    min-height: 382px;
  }

  .u-section-1 .u-layout-cell-4 {
    min-height: 302px;
  }

  .u-section-1 .u-layout-cell-5 {
    min-height: 676px;
  }

  .u-section-1 .u-layout-cell-6 {
    min-height: 844px;
  }

  .u-section-1 .u-text-1 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-text-2 {
    margin-right: 0;
    margin-left: 0;
  }
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 777px;
  }

  .u-section-1 .u-layout-cell-1 {
    background-position: 50% 50%;
    min-height: 196px;
  }

  .u-section-1 .u-layout-cell-2 {
    background-position: 50% 50%;
    animation-duration: 1000ms;
    min-height: 196px;
  }

  .u-section-1 .u-layout-cell-3 {
    background-position: 50% 50%;
    min-height: 282px;
  }

  .u-section-1 .u-layout-cell-4 {
    background-position: 50% 50%;
    min-height: 234px;
  }

  .u-section-1 .u-layout-cell-5 {
    background-position: 50% 15.55%;
    min-height: 516px;
  }

  .u-section-1 .u-layout-cell-6 {
    min-height: 712px;
  }

  .u-section-1 .u-container-layout-6 {
    padding-left: 13px;
    padding-right: 13px;
  }

  .u-section-1 .u-text-1 {
    font-size: 3rem;
  }

  .u-section-1 .u-btn-1 {
    font-size: 3rem;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 863px;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 220px;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 220px;
  }

  .u-section-1 .u-layout-cell-3 {
    min-height: 365px;
  }

  .u-section-1 .u-layout-cell-4 {
    min-height: 309px;
  }

  .u-section-1 .u-layout-cell-5 {
    min-height: 674px;
  }

  .u-section-1 .u-layout-cell-6 {
    min-height: 100px;
  }

  .u-section-1 .u-container-layout-6 {
    padding-left: 0;
    padding-right: 0;
  }

  .u-section-1 .u-text-1 {
    width: auto;
    margin-top: 30px;
  }

  .u-section-1 .u-btn-1 {
    font-size: 2.25rem;
  }

  .u-section-1 .u-text-2 {
    width: auto;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 820px;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 341px;
  }

  .u-section-1 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 319px;
  }

  .u-section-1 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-layout-cell-3 {
    min-height: 566px;
  }

  .u-section-1 .u-layout-cell-4 {
    min-height: 479px;
  }

  .u-section-1 .u-container-layout-4 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-layout-cell-5 {
    min-height: 978px;
  }

  .u-section-1 .u-container-layout-5 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 574px;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 215px;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 201px;
  }

  .u-section-1 .u-layout-cell-3 {
    order: 1;
    min-height: 356px;
  }

  .u-section-1 .u-layout-cell-4 {
    order: 0;
    min-height: 302px;
  }

  .u-section-1 .u-layout-cell-5 {
    min-height: 616px;
  }

  .u-section-1 .u-text-1 {
    font-size: 2.25rem;
  }

  .u-section-1 .u-btn-1 {
    font-size: 1.5rem;
  }
} .u-section-2 {
  min-height: 413px;
}

.u-section-2 .u-layout-wrap-1 {
  margin-top: 0;
  margin-bottom: -31px;
}

.u-section-2 .u-image-1 {
  min-height: 419px;
  background-image: url("images/IMG_89991.jpg");
  background-position: 50% 50%;
}

.u-section-2 .u-container-layout-1 {
  padding: 30px;
}

.u-section-2 .u-image-2 {
  min-height: 419px;
  background-image: url("images/IMG_9354.jpg");
  background-position: 50% 50%;
}

.u-section-2 .u-container-layout-2 {
  padding: 30px;
}

.u-section-2 .u-image-3 {
  min-height: 419px;
  background-image: url("images/shark.gif");
  background-position: 50% 50%;
}

.u-section-2 .u-container-layout-3 {
  padding: 30px;
}

@media (max-width: 1199px) {
   .u-section-2 {
    min-height: 340px;
  }

  .u-section-2 .u-image-1 {
    min-height: 346px;
  }

  .u-section-2 .u-image-2 {
    min-height: 346px;
  }

  .u-section-2 .u-image-3 {
    min-height: 346px;
  }
}

@media (max-width: 991px) {
   .u-section-2 {
    min-height: 300px;
  }

  .u-section-2 .u-layout-wrap-1 {
    width: calc(((100% - 720px) / 2) + 770px);
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-2 .u-image-1 {
    min-height: 306px;
  }

  .u-section-2 .u-image-2 {
    min-height: 306px;
  }

  .u-section-2 .u-image-3 {
    min-height: 306px;
  }
}

@media (max-width: 767px) {
   .u-section-2 {
    min-height: 800px;
  }

  .u-section-2 .u-layout-wrap-1 {
    width: calc(((100% - 540px) / 2) + 590px);
  }

  .u-section-2 .u-image-1 {
    min-height: 267px;
  }

  .u-section-2 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-image-2 {
    min-height: 266px;
  }

  .u-section-2 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-image-3 {
    min-height: 267px;
  }

  .u-section-2 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
   .u-section-2 {
    min-height: 1497px;
  }

  .u-section-2 .u-layout-wrap-1 {
    width: calc(((100% - 340px) / 2) + 340px);
  }

  .u-section-2 .u-image-1 {
    min-height: 154px;
  }

  .u-section-2 .u-image-2 {
    min-height: 153px;
  }

  .u-section-2 .u-image-3 {
    min-height: 154px;
  }
}