 .u-section-1 {
  background-image: none;
}

.u-section-1 .u-sheet-1 {
  min-height: 546px;
}

.u-section-1 .u-video-1 {
  width: 1140px;
}

.u-section-1 .embed-responsive-1 {
  position: absolute;
  width: 178%;
  left: -39%;
  height: 178%;
  top: -39%;
}

@media (max-width: 1399px) {
  .u-section-1 .u-sheet-1 {
    min-height: 527px;
  }
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 431px;
  }

  .u-section-1 .u-video-1 {
    width: 940px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 400px;
  }

  .u-section-1 .u-video-1 {
    width: 1140px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 350px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 220px;
  }
} .u-section-2 {
  background-image: none;
}

.u-section-2 .u-sheet-1 {
  min-height: 331px;
}

.u-section-2 .u-text-1 {
  font-weight: 700;
  margin: 62px 337px 0 0;
}

.u-section-2 .u-text-2 {
  font-size: 1.125rem;
  margin: 28px 0 60px;
}

@media (max-width: 1199px) {
  .u-section-2 .u-text-1 {
    width: 803px;
    margin-right: 137px;
  }

  .u-section-2 .u-text-2 {
    width: 803px;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-text-1 {
    width: 720px;
    margin-right: 0;
  }

  .u-section-2 .u-text-2 {
    width: 720px;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-text-1 {
    width: 540px;
  }

  .u-section-2 .u-text-2 {
    width: 540px;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-text-1 {
    width: 340px;
  }

  .u-section-2 .u-text-2 {
    width: 340px;
  }
} .u-section-3 {
  background-image: none;
}

.u-section-3 .u-sheet-1 {
  min-height: 2220px;
}

.u-section-3 .u-list-1 {
  margin-bottom: 0;
  margin-top: 0;
}

.u-section-3 .u-repeater-1 {
  grid-gap: 10px 10px;
  grid-template-columns: 100%;
  min-height: 2310px;
}

.u-section-3 .u-container-layout-1 {
  padding: 0 0 30px;
}

.u-section-3 .u-image-1 {
  width: 366px;
  height: 438px;
  margin: 0 auto 0 60px;
}

.u-section-3 .u-image-2 {
  width: 584px;
  height: 438px;
  margin: -438px 60px 0 auto;
}

.u-section-3 .u-text-1 {
  font-weight: 400;
  margin: 30px auto 0 60px;
}

.u-section-3 .u-container-layout-2 {
  padding: 0 0 30px;
}

.u-section-3 .u-image-3 {
  width: 366px;
  height: 438px;
  margin: 0 auto 0 60px;
}

.u-section-3 .u-image-4 {
  width: 584px;
  height: 438px;
  margin: -438px 60px 0 auto;
}

.u-section-3 .u-text-2 {
  font-weight: 400;
  margin: 30px auto 0 60px;
}

.u-section-3 .u-container-layout-3 {
  padding: 0 0 30px;
}

.u-section-3 .u-image-5 {
  width: 366px;
  height: 438px;
  margin: 0 auto 0 60px;
}

.u-section-3 .u-image-6 {
  width: 584px;
  height: 438px;
  margin: -438px 60px 0 auto;
}

.u-section-3 .u-text-3 {
  font-weight: 400;
  margin: 30px auto 0 60px;
}

.u-section-3 .u-container-layout-4 {
  padding: 0 0 30px;
}

.u-section-3 .u-image-7 {
  width: 366px;
  height: 438px;
  margin: 0 auto 0 60px;
}

.u-section-3 .u-image-8 {
  width: 584px;
  height: 438px;
  margin: -438px 60px 0 auto;
}

.u-section-3 .u-text-4 {
  font-weight: 400;
  margin: 30px auto 0 60px;
}

@media (max-width: 1199px) {
  .u-section-3 .u-image-3 {
    margin-top: -438px;
  }

  .u-section-3 .u-image-5 {
    margin-top: -438px;
  }

  .u-section-3 .u-image-7 {
    margin-top: -438px;
  }
}

@media (max-width: 767px) {
  .u-section-3 .u-image-1 {
    margin-top: -33px;
  }

  .u-section-3 .u-image-2 {
    width: 540px;
    height: 405px;
    margin-top: -405px;
    margin-right: 0;
  }

  .u-section-3 .u-image-3 {
    margin-top: -405px;
  }

  .u-section-3 .u-image-4 {
    width: 540px;
    height: 405px;
    margin-right: 0;
  }

  .u-section-3 .u-image-5 {
    margin-top: -405px;
  }

  .u-section-3 .u-image-6 {
    width: 540px;
    height: 405px;
    margin-right: 0;
  }

  .u-section-3 .u-image-7 {
    margin-top: -405px;
  }

  .u-section-3 .u-image-8 {
    width: 540px;
    height: 405px;
    margin-right: 0;
  }
}

@media (max-width: 575px) {
  .u-section-3 .u-image-1 {
    width: 340px;
    height: 407px;
    margin-top: -183px;
    margin-left: 0;
  }

  .u-section-3 .u-image-2 {
    width: 340px;
    height: 255px;
    margin-top: -224px;
  }

  .u-section-3 .u-text-1 {
    margin-top: -1px;
  }

  .u-section-3 .u-image-3 {
    width: 340px;
    height: 407px;
    margin-top: -255px;
    margin-left: 0;
  }

  .u-section-3 .u-image-4 {
    width: 340px;
    height: 255px;
    margin-top: -407px;
  }

  .u-section-3 .u-text-2 {
    margin-left: 0;
  }

  .u-section-3 .u-image-5 {
    width: 340px;
    height: 407px;
    margin-top: -255px;
    margin-left: 0;
  }

  .u-section-3 .u-image-6 {
    width: 340px;
    height: 255px;
    margin-top: -407px;
  }

  .u-section-3 .u-text-3 {
    margin-left: 0;
  }

  .u-section-3 .u-image-7 {
    width: 340px;
    height: 407px;
    margin-top: -255px;
    margin-left: 0;
  }

  .u-section-3 .u-image-8 {
    width: 340px;
    height: 255px;
    margin-top: -407px;
  }

  .u-section-3 .u-text-4 {
    margin-left: 0;
  }
} .u-section-4 {
  background-image: none;
}

.u-section-4 .u-sheet-1 {
  min-height: 686px;
}

.u-section-4 .u-video-1 {
  height: 546px;
  width: 1016px;
  margin: 0 auto;
}

.u-section-4 .embed-responsive-1 {
  position: absolute;
  width: 178%;
  left: -39%;
  height: 178%;
  top: -39%;
}

.u-section-4 .u-text-1 {
  font-weight: 400;
  margin: 30px 62px 60px;
}

@media (max-width: 1199px) {
  .u-section-4 .u-sheet-1 {
    min-height: 645px;
  }

  .u-section-4 .u-video-1 {
    width: 940px;
    height: 505px;
  }

  .u-section-4 .u-text-1 {
    margin-left: 0;
    margin-right: 0;
  }
}

@media (max-width: 991px) {
  .u-section-4 .u-sheet-1 {
    min-height: 527px;
  }

  .u-section-4 .u-video-1 {
    width: 720px;
    height: 387px;
  }
}

@media (max-width: 767px) {
  .u-section-4 .u-sheet-1 {
    min-height: 430px;
  }

  .u-section-4 .u-video-1 {
    width: 540px;
    height: 290px;
  }
}

@media (max-width: 575px) {
  .u-section-4 .u-sheet-1 {
    min-height: 323px;
  }

  .u-section-4 .u-video-1 {
    width: 340px;
    height: 183px;
  }
} .u-section-5 {
  background-image: none;
}

.u-section-5 .u-sheet-1 {
  min-height: 601px;
}

.u-section-5 .u-text-1 {
  font-weight: 700;
  margin: 80px auto 0 0;
}

.u-section-5 .u-gallery-1 {
  height: 330px;
  width: 1140px;
  margin: 41px auto 60px;
}

.u-section-5 .u-gallery-item-1 {
  margin-right: 40px;
}

.u-section-5 .u-back-image-1 {
  width: 354px;
}

.u-section-5 .u-over-slide-1 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-5 .u-gallery-item-2 {
  margin-right: 40px;
}

.u-section-5 .u-back-image-2 {
  width: 354px;
}

.u-section-5 .u-over-slide-2 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-5 .u-gallery-item-3 {
  margin-right: 40px;
}

.u-section-5 .u-back-image-3 {
  width: 354px;
}

.u-section-5 .u-over-slide-3 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-5 .u-gallery-item-4 {
  margin-right: 40px;
}

.u-section-5 .u-back-image-4 {
  width: 354px;
}

.u-section-5 .u-over-slide-4 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-5 .u-gallery-item-5 {
  margin-right: 40px;
}

.u-section-5 .u-back-image-5 {
  width: 354px;
}

.u-section-5 .u-over-slide-5 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-5 .u-gallery-nav-1 {
  position: absolute;
  left: 10px;
  width: 40px;
  height: 40px;
}

.u-section-5 .u-gallery-nav-2 {
  position: absolute;
  right: 10px;
  width: 40px;
  height: 40px;
}

@media (max-width: 1199px) {
  .u-section-5 .u-gallery-1 {
    width: 940px;
  }
}

@media (max-width: 991px) {
  .u-section-5 .u-gallery-1 {
    width: 720px;
  }
}

@media (max-width: 767px) {
  .u-section-5 .u-gallery-1 {
    width: 540px;
  }
}

@media (max-width: 575px) {
  .u-section-5 .u-gallery-1 {
    width: 340px;
  }
}