 .u-section-1 {
  background-image: url("../images/2023-03-0512.56.30.png");
}

.u-section-1 .u-sheet-1 {
  min-height: 100vh;
}

.u-section-1 .u-group-elements-1 {
  width: 597px;
  min-height: 127px;
  transition-duration: 0.5s;
  transform: translateX(0px) translateY(0px) scale(1) rotate(0deg);
  --animation-custom_in-scale: 1;
  margin: 450px auto 60px;
}

.u-section-1 .u-text-1 {
  font-size: 4.5rem;
  margin: 0;
}

.u-section-1 .u-text-2 {
  font-size: 1.5rem;
  margin: 20px auto 0 134px;
}

@media (max-width: 1399px) {
   .u-section-1 {
    background-position: 50% 50%;
  }
}

@media (max-width: 1199px) {
  .u-section-1 .u-group-elements-1 {
    --animation-custom_in-translate_x: 0px;
    --animation-custom_in-translate_y: 0px;
    --animation-custom_in-opacity: 0;
    --animation-custom_in-rotate: 0deg;
    animation-duration: 4000ms;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-group-elements-1 {
    width: 540px;
    min-height: 206px;
  }

  .u-section-1 .u-text-2 {
    width: auto;
    margin-left: 97px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-group-elements-1 {
    width: 343px;
    min-height: 62px;
  }

  .u-section-1 .u-text-1 {
    font-size: 1.875rem;
  }

  .u-section-1 .u-text-2 {
    font-size: 1rem;
    margin-top: 10px;
    margin-left: 55px;
  }
}

.u-section-1 .u-group-elements-1,
.u-section-1 .u-group-elements-1:before,
.u-section-1 .u-group-elements-1 > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, image-zoom, background-size, background-position;
}

.u-section-1 .u-group-elements-1.u-group-elements-1.u-group-elements-1:hover {
  transform: scale(1.05) translateX(0px) translateY(0px) !important;
}

.u-section-1 .u-group-elements-1.u-group-elements-1.u-group-elements-1.hover {
  transform: scale(1.05) translateX(0px) translateY(0px) !important;
}

.u-section-1 .u-container-layout:hover .u-group-elements-1 {
  transform: rotate(0deg) scale(1) translateX(0px) translateY(0px) !important;
}

.u-container-layout.hover .u-section-1 .u-group-elements-1 {
  transform: rotate(0deg) scale(1) translateX(0px) translateY(0px) !important;
}.u-section-2 .u-sheet-1 {
  min-height: 850px;
}

.u-section-2 .u-layout-wrap-1 {
  margin-top: 60px;
  margin-bottom: 60px;
}

.u-section-2 .u-layout-cell-1 {
  min-height: 642px;
}

.u-section-2 .u-container-layout-1 {
  padding: 30px;
}

.u-section-2 .u-text-1 {
  margin-bottom: 0;
  margin-top: 0;
  font-weight: 700;
}

.u-section-2 .u-layout-cell-2 {
  min-height: 321px;
}

.u-section-2 .u-container-layout-2 {
  padding: 30px;
}

.u-section-2 .u-text-2 {
  margin: 0;
}

.u-section-2 .u-line-1 {
  transform-origin: left center 0px;
  width: 800px;
  margin: 30px auto 0 0;
}

.u-section-2 .u-layout-cell-3 {
  min-height: 321px;
}

.u-section-2 .u-container-layout-3 {
  padding: 30px;
}

.u-section-2 .u-text-3 {
  font-weight: 700;
  margin: 0;
}

.u-section-2 .u-layout-cell-4 {
  min-height: 321px;
}

.u-section-2 .u-container-layout-4 {
  padding: 30px;
}

.u-section-2 .u-text-4 {
  font-weight: 700;
  margin: 0;
}

.u-section-2 .u-layout-cell-5 {
  min-height: 321px;
}

.u-section-2 .u-container-layout-5 {
  padding: 30px;
}

.u-section-2 .u-text-5 {
  font-weight: 700;
  margin: 0;
}

@media (max-width: 1199px) {
  .u-section-2 .u-sheet-1 {
    min-height: 315px;
  }

  .u-section-2 .u-layout-cell-1 {
    min-height: 86px;
  }

  .u-section-2 .u-layout-cell-2 {
    min-height: 173px;
  }

  .u-section-2 .u-line-1 {
    width: 628px;
  }

  .u-section-2 .u-layout-cell-3 {
    min-height: 285px;
  }

  .u-section-2 .u-text-3 {
    width: auto;
  }

  .u-section-2 .u-layout-cell-4 {
    min-height: 173px;
  }

  .u-section-2 .u-layout-cell-5 {
    min-height: 173px;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-sheet-1 {
    min-height: 869px;
  }

  .u-section-2 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-2 .u-layout-cell-2 {
    min-height: 100px;
  }

  .u-section-2 .u-layout-cell-4 {
    min-height: 100px;
  }

  .u-section-2 .u-layout-cell-5 {
    min-height: 100px;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-sheet-1 {
    min-height: 1472px;
  }

  .u-section-2 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-line-1 {
    width: 520px;
  }

  .u-section-2 .u-layout-cell-3 {
    min-height: 100px;
  }

  .u-section-2 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-container-layout-4 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-container-layout-5 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-sheet-1 {
    min-height: 1517px;
  }

  .u-section-2 .u-line-1 {
    width: 320px;
  }
}.u-section-3 .u-sheet-1 {
  min-height: 50vw;
}

.u-section-3 .u-video-1 {
  height: 641px;
  margin-top: 43px;
  margin-bottom: 60px;
}

.u-section-3 .embed-responsive-1 {
  position: absolute;
}

@media (max-width: 1199px) {
  .u-section-3 .u-video-1 {
    height: 579px;
  }
}

@media (max-width: 991px) {
  .u-section-3 .u-video-1 {
    height: 505px;
  }
}

@media (max-width: 767px) {
  .u-section-3 .u-video-1 {
    height: 433px;
    margin-top: 0;
  }
}

@media (max-width: 575px) {
  .u-section-3 .u-sheet-1 {
    min-height: 623px;
  }

  .u-section-3 .u-video-1 {
    height: 268px;
  }
} .u-section-4 {
  background-image: none;
}

.u-section-4 .u-sheet-1 {
  min-height: 2393px;
}

.u-section-4 .u-text-1 {
  margin: 19px 20px 0 0;
}

.u-section-4 .u-text-2 {
  margin: 77px 10px 0;
}

.u-section-4 .u-layout-wrap-1 {
  width: 100%;
  margin: 54px 0 0;
}

.u-section-4 .u-image-1 {
  min-height: 851px;
  background-image: url("../images/2023-03-058.07.43.png");
  background-position: 50% 50%;
}

.u-section-4 .u-container-layout-1 {
  padding: 30px 0;
}

.u-section-4 .u-image-2 {
  min-height: 849px;
  background-image: url("../images/2023-03-058.09.53.png");
  background-position: 50% 50%;
}

.u-section-4 .u-container-layout-2 {
  padding: 0 12px;
}

.u-section-4 .u-image-3 {
  background-image: url("../images/2023-03-062.21.50.png");
  background-position: 50% 0%;
  min-height: 851px;
}

.u-section-4 .u-container-layout-3 {
  padding: 0 0 30px;
}

@media (max-width: 1399px) {
  .u-section-4 .u-sheet-1 {
    min-height: 2598px;
  }

  .u-section-4 .u-text-1 {
    margin-right: 0;
  }

  .u-section-4 .u-text-2 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-4 .u-image-1 {
    min-height: 641px;
  }

  .u-section-4 .u-image-2 {
    min-height: 641px;
  }

  .u-section-4 .u-image-3 {
    min-height: 744px;
  }
}

@media (max-width: 1199px) {
  .u-section-4 .u-image-1 {
    min-height: 529px;
  }

  .u-section-4 .u-image-2 {
    min-height: 529px;
  }

  .u-section-4 .u-image-3 {
    min-height: 613px;
  }
}

@media (max-width: 991px) {
  .u-section-4 .u-image-1 {
    min-height: 405px;
  }

  .u-section-4 .u-image-2 {
    min-height: 405px;
  }

  .u-section-4 .u-image-3 {
    min-height: 470px;
  }
}

@media (max-width: 767px) {
  .u-section-4 .u-image-1 {
    min-height: 608px;
  }

  .u-section-4 .u-image-2 {
    min-height: 608px;
  }

  .u-section-4 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-4 .u-image-3 {
    min-height: 353px;
  }
}

@media (max-width: 575px) {
  .u-section-4 .u-image-1 {
    min-height: 383px;
  }

  .u-section-4 .u-image-2 {
    min-height: 383px;
  }

  .u-section-4 .u-image-3 {
    min-height: 222px;
  }
} .u-section-5 {
  background-image: none;
}

.u-section-5 .u-sheet-1 {
  min-height: 1464px;
}

.u-section-5 .u-text-1 {
  margin: 28px auto 0 0;
}

.u-section-5 .u-layout-wrap-1 {
  margin-top: 73px;
  margin-bottom: 60px;
}

.u-section-5 .u-image-1 {
  min-height: 533px;
  background-image: url("../images/2023-03-062.19.25.png");
  background-position: 50% 50%;
}

.u-section-5 .u-container-layout-1 {
  padding: 0 30px;
}

.u-section-5 .u-image-2 {
  min-height: 728px;
  background-image: url("../images/2023-03-062.17.18.png");
  background-position: 50% 50%;
}

.u-section-5 .u-container-layout-2 {
  padding: 0 30px;
}

@media (max-width: 1399px) {
  .u-section-5 .u-sheet-1 {
    min-height: 1311px;
  }

  .u-section-5 .u-image-1 {
    min-height: 460px;
  }

  .u-section-5 .u-image-2 {
    min-height: 629px;
  }
}

@media (max-width: 1199px) {
  .u-section-5 .u-sheet-1 {
    min-height: 1142px;
  }

  .u-section-5 .u-image-1 {
    min-height: 379px;
  }

  .u-section-5 .u-image-2 {
    min-height: 519px;
  }
}

@media (max-width: 991px) {
  .u-section-5 .u-sheet-1 {
    min-height: 955px;
  }

  .u-section-5 .u-image-1 {
    min-height: 290px;
  }

  .u-section-5 .u-image-2 {
    min-height: 398px;
  }
}

@media (max-width: 767px) {
  .u-section-5 .u-sheet-1 {
    min-height: 803px;
  }

  .u-section-5 .u-image-1 {
    min-height: 218px;
  }

  .u-section-5 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-5 .u-image-2 {
    min-height: 299px;
  }

  .u-section-5 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-5 .u-sheet-1 {
    min-height: 633px;
  }

  .u-section-5 .u-image-1 {
    min-height: 137px;
  }

  .u-section-5 .u-image-2 {
    min-height: 188px;
  }
}